# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ecnotes-go
ecnotes-go.tar.xz

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log files
*.log

# Sensitive files which shouldn't be in version control
resources/config.toml*
resources/key_store.json
resources/logs/

# Dependency directories (remove the comment below to include it)
resources/db/
vendor/
.vscode/

